@charset "UTF-8";

@font-face{
    font-family: Android;
    src: url(guia/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

body{
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(156, 236, 156);
}

a{
    color: black;  
    font-style: italic;
    font-weight: bold;
}

header{
    background-image: linear-gradient(to top, rgb(62, 124, 62), rgb(78, 153, 78),rgb(89, 212, 89));
    text-align: center;
    padding:3px ;
    color: white;
}
nav{
    text-align: left;
    border-top: 2px solid black;
    border-bottom:2px solid black ;
    margin-bottom: 50px;
    padding: 5px;
    background-color: rgb(62, 124, 62);
}
nav>a{
    text-decoration: none;
    font-weight: bold;
    color:white;
    margin: 5px;
}
nav>a:hover{
    font-size: 22px;
    color:black;
    margin: 0px 20px 0px 20px;
}

h1#titulo{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

h2#subtitulo{
    font-weight: lighter;
    font-size: medium;
    width: 300px;
    margin: auto;
    padding-bottom:15px ;
}

main{
    background-color: aliceblue;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

section#historia{
    padding: 10px;
}

section#historia>h1{
    font-family: fantasy;
    font-size: 30px;
    font-weight: bold;
    color: rgb(37, 131, 37);
    padding: 5px;
    margin: 0px;
}

section#historia>h2{
    font-family: fantasy;
    font-size: 30px;
    font-weight: bold;
    color: rgb(37, 131, 37);
    padding: 5px;
    margin: 10px 5px 10px 5px;
    background-image: linear-gradient(to right, rgba(50, 219, 120, 0.562),rgba(67, 216, 146, 0.411),aliceblue);
}

section#historia>p{
    text-indent: 30px;
    margin: 0px 5px 5px 10px;
}

img{
    width: 100%;
}

.bugdroid{
    width: 50%;
    margin:auto;
    display: block;
}

iframe{
    width: 70%;
    margin: auto;
    display: block;
}

div#video{
    background-color: rgb(37, 131, 37);
    margin-top: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.253);
    padding: 10px 0px 10px 0px;
}

section#novoMascote{
    padding: 10px;
}

section#novoMascote>h2{
    font-family: fantasy;
    font-size: 30px;
    font-weight: bold;
    color: rgb(37, 131, 37);
    padding: 5px;
    margin: 0px 5px 5px 5px;
    background-image: linear-gradient(to right, rgba(50, 219, 120, 0.562),rgba(67, 216, 146, 0.411),aliceblue);
}

section#novoMascote>p{
    text-indent: 30px;
    margin: 0px 5px 5px 10px;
}

aside{
   background-color:  rgb(156, 236, 156);
   margin: 20px 20px 0px 20px;
   border-radius: 5px;
   color: black;
   padding-bottom: 10px;
   
}

aside>h3{
    font-family: fantasy;
    font-size: 24px;
    font-weight: normal;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(37, 131, 37);
    border-radius: 5px;
}

.listas{
    display: inline-block;
    text-align: center;
    margin: auto;
}

.listas>li{
    color: black;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

aside>p{
    margin: 0px 5px 5px 10px;
    text-indent: 30px;
}

div>p{
    margin: 0px 5px 5px 10px;
    text-indent: 30px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-top: 10px;
}

footer{
    margin-top: 50px;
    background-color:rgb(62, 124, 62) ;
    padding: 5px;
}

footer>p{
    margin: 8px;
    font-weight: bold;
    text-align: center;
}

footer>p>a{
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
}

footer>p>a:hover{
    color: black;
    text-decoration: underline;
    text-align: center;
    font-weight: bolder;
}